@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #252329;
  font-family: "Poppins", sans-serif;
  color: snow;

  max-width: 1100px;
  margin: 0 auto;
  padding: 16px;
}

.task {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.container {
  background-color: snow;
  border: 1px solid lightgray;
  height: 200px;
  border-radius: 4px;
}

.item {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: tomato;
  text-align: center;
}

.sm {
  width: 20px;
}

.lg {
  width: 80px;
}

/* TASK 1 - ALIGN BLOCK ELEMENTS HORIZONTALLY */ 

.task-1 .container {
  display: flex;
}

/* TASK 2 - CENTER ITEM(S)*/

.task-2 .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TASK 3 - DISTRIBUTE SPACE BETWEEN ITEMS*/

.task-3 .container {
  display: flex;
  justify-content: space-between;
}

/* TASK 4 - PUSH ITEMS TO THE BOTTOMS*/

.task-4 .option-1 .container {
  display: flex;
  justify-content: space-between;
}

.task-4 .option-2 .container {
  display: flex;
  justify-content: flex-end;
}

.task-4 .option-3 .container {
  display: flex;
}

.task-4 .option-3 .item:first-child {
  flex-grow: 1;
}

/* TASK 5 - BUILD RELATIVE SIZE COLUMNS*/

.task-5 .container {
  display: flex;
}

.task-5 .item-1 {
  flex-grow: 3;
}

.task-5 .item-2 {
  flex-grow: 1;
}

.task-5 .item-3 {
  flex-grow: 1;
}

.task-5 .item-4 {
  flex-grow: 1;
}

/* TASK 6 -BUILD RESPONSIVE LAYOUT WITH AND WITHOUT MEDIA QUERY*/

.task-6 .container {
  display: flex;
  flex-wrap: wrap;
}

.task-6 .item {
  width: 200px;
}

@media (min-width: 375px) {
  .task-6 .item {
  }
}

/* TASK 7 - CHANGE ORDER*/

.task-7 .container {
  display: flex;
}

.task-7 .item-1 {
  order: 2;
}

.task-7 .item-3 {
  order: 3;
}

/* TASK 8 - CHANGE THE POSITION OF THE ITEM*/

.task-8 .container {
  display: flex;
}

.task-8 .item-3 {
  align-self: flex-end;
  align-self: center;
}
